<!-- views/partials/head.ejs -->

<!-- jquery -->
<script src="/js/jquery-3.2.1.min.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- web font -->
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">

<!-- my css -->
<link rel="stylesheet" href="/css/master.css">

<title>My Website</title>